@font-face {
	font-family: 'Segoe UI';
    src: url('../fonts/Segoe_UI.woff') format('woff'), 
        url('../fonts/Segoe_UI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/**
 * Common stylesheets
 */
html,
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px; 
    color: #404040; 
    line-height: 20px;
}

/* Не очень хорошо, т.к. работает для всей страницы */
input:focus::-webkit-input-placeholder { color: #d1d1d1 }
input:focus::-moz-placeholder          { color: #d1d1d1 }
input:focus:-moz-placeholder           { color: #d1d1d1 }
input:focus:-ms-input-placeholder      { color: #d1d1d1 }

.container {
    margin: 50px auto 0;
    width: 300px;
}

/**
 * Autocomplete
 */
.autocomplete {
    position: relative;
}

/**
 * Autocomplete input
 */
.autocomplete__input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    width: 250px;
}

.autocomplete__input:hover {
    border-top-color: #b2b2b2;
}

.autocomplete__input:focus {
    border-color: #5199db;
    box-shadow: 0 0 0 1px #5199db;
}

.autocomplete__error {
    color: #e3071c;
    display: none;
    margin-top: 10px;
}

/**
 * Suggest list
 */
.autocomplete__suggest {
    display: none;
    left: 1px;
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
}

.suggest-list {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 
                0 3px 10px 0 rgba(0, 0, 0, .2);
    color: #404040;
    display: none;
    font-size: 14px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.suggest-list--visible {
    display: block;
}

/**
 * Suggest list:
 *  - Item
 */
.suggest-list__item {
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
}

.suggest-list__item--active,
.suggest-list__item:hover {
    color: #fff;
    background: #5199db;
}

.suggest-list__hint {
    border-top: 1px solid #c8c8c8;
    color: #c8c8c8;
    font-size: 12px;
    margin: 0;
    padding: 5px 10px;
}

/**
 * Suggest messages:
 *  - Loading
 *  - Error
 *  - Not found
 */
.suggest-list__message {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 
                0 3px 10px 0 rgba(0, 0, 0, .2);
    display: none;
    color: #919191;
    margin: 0;
    padding: 5px 10px;
}

.suggest-list__loading-icon {
    background: transparent url('/assets/loader.gif') center center no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 20px;
}

/**
 * Miscellaneous
 * Not best practice and look ugly but it works
 */
.autocomplete--loading .suggest-list,
.autocomplete--not-found .suggest-list,
.autocomplete--with-error .suggest-list {
    display: none;
}

.autocomplete--in-focus .autocomplete__suggest,
.autocomplete--loading .suggest-list__message--loading,
.autocomplete--with-error .suggest-list__message--error,
.autocomplete--with-error .autocomplete__error,
.autocomplete--not-found .suggest-list__message--not-found {
    display: block;
}
